<app-menu></app-menu>

<div class="pageRight">
    <p class="title">Conexiones</p>

    <div class="divGenral">
        <div *ngFor="let item of dataView.projects; let i=index">
            <div class="tarjeta">
                <div class="divTitleProcess">
                    <p class="pTitleProcess">{{item.nombreProceso}}</p>
                </div>
                <div class="divInput">
                    <div class="input-field">
                        <i class=""></i>
                        <input type="text" placeholder="URL OPC-UA" value="{{item.endpointOPC}}"
                            [disabled]="!editUriOPC['uri'+i]" [ngClass]="{'cursorNoDrop': !editUriOPC['uri'+i]}"
                            (change)="onChange($event, item.idProject )" />
                    </div>
                </div>
                <div class="divWidth2">
                    <div class="contentDisplay">
                        <button *ngIf="!editUriOPC['uri'+i]" type="button" class="button margin10px"
                            (click)="editUri('uri'+i)">Editar</button>
                        <button *ngIf="editUriOPC['uri'+i]" type="button" class="btnRed margin10px"
                            (click)="editUri('uri'+i)"> Cancelar</button>
                        <button type="button" class="btnRed" (click)="onCall(item.idProject, i)"
                            [disabled]="!editUriOPC['uri'+i]"> Aceptar</button>
                    </div>
                </div>
                <div class="divMore">
                    <div class="botonmore cursorPointer" (click)="showTopics('topic'+i)">
                        <img id="imgMore1" [ngClass]="{'transformArrow': !viewTopics['topic'+i]}"
                            src="../../../assets/img/icon-fd-arrowRed.svg" alt="">
                        <p id="pMore1" class="parrafo smallBoton">{{!viewTopics['topic'+i] ? 'Mostrar topics' : 'Ocultar
                            topics'}}</p>
                    </div>
                </div>
            </div>
            <div id="detalleMore" class="contentBox" *ngIf="viewTopics['topic'+i]">
                <p>Actualmente cuenta con los siguientes topics en el proceso, si desea modificar alguno de ellos solo
                    debe dar clic encima y posteriormente presionar el boton de aceptar. </p>
                <ul>
                    <li class="cursorPointer margin5px" *ngFor="let item2 of item.topics" (click)="editTopic(item2, item.idProject, item.topics)">{{item2}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="marginBottom"></div>
</div>