<div>
    <p>Ingrese los datos para enviar a la base de datos:</p>
  </div>
  
  <form [formGroup]="registerForm">
    <div class="marginInput">Nombre: <input type="text" formControlName="name" (ngModelChange)="onChange($event, 'name')"></div>
    <div class="marginInput">Descripción: <input type="text" formControlName="description" (ngModelChange)="onChange($event, 'description')"></div>
    <div class="marginInput">Version: <input type="text" formControlName="version" (ngModelChange)="onChange($event, 'version')"></div>
  </form>
  
  <button (click)="onCall('1')" [disabled]="!registerForm">Enviar</button>
  
  <button (click)="onCall('2')">Consultar</button>
  
  <br><br><br><br>
  Datos adquiridos solicitados por get: {{(dataView) ? dataView.message : ''}}