
/* NEW STYLES FOR ACCOUNT SETTINGS ===================*/

.info {
  padding-top: 8px;
  padding-left: 6%;
  padding-right: 6%;
}

.top {
  margin-top: 20px;
}

.info-box {
  width: 100%;
  padding-bottom: 4%;
}

.label {
  font-family: 'Avenir W01';
  font-size: 14px;
  color: #999999;
}

p.data {
  font-family: 'Avenir W01';
  font-weight: 300;
  font-size: 18px;
  line-height: 0px;
  color: #333;
}

.edit {
  height: 48px;
  width: 100%;
  font-family: 'Avenir W01';
  font-weight: 500;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  text-align: right;
  padding-top: 14px;
  padding-right: 2%;
  background: #f5f5f5;
}

.edit:hover {
  background-color: #eaeaea;
}

.edit:active {
  background-color: #eaebec;
}

.tarjeta {
  display: block;
  font-size: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  outline: 0;
  font-style: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  border-radius: 10px;
  margin: 20px auto 0;
  position: relative;
  transition-duration: .2s;
  z-index: 2;
  margin-top: 20px;
  width: 93%;
  max-width: 92%;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
}

.title {
  text-align: center;
  font-size: xx-large;
}

.description {
  text-align: center;
  font-size: smaller;
  color: grey;
}