<app-menu></app-menu>

<div class="pageRight">
    <div class="header">
        <div class="headertitle">Configuraciones de la cuenta</div>
    </div>

    <div class="container">
        <div class="info-box">
            <div class="edit cursorPointer" (click)="editTopic(dataView.user, 'usr')">EDITAR <i
                    class="fa fa-pencil-square-o"></i></div>
            <div class="info top">
                <p class="label">NOMBRE</p>
                <p class="data">{{dataView.secondName | uppercase}}</p>
            </div>
            <div class="info">
                <p class="label">APELLIDO</p>
                <p class="data">{{dataView.firstLastName | uppercase}}</p>
            </div>

            <div class="info">
                <p class="label">USUARIO</p>
                <p class="data">{{dataView.user | uppercase}}</p>
            </div>

            <div class="info">
                <p class="label ">CORREO ELECTRONICO</p>
                <p class="data">{{dataView.email | uppercase}}</p>
            </div>
        </div>

        <div class="info-box">
            <div class="edit cursorPointer" (click)="editTopic(dataView.user, 'psd')">EDITAR <i class="fa fa-pencil-square-o"></i></div>
            <div class="info top">
                <p class="label">CONSTRASEÑA</p>
                <p class="data">•••••••••••••</p>
            </div>
        </div>
    </div>
</div>