<div>
    <app-menu></app-menu>
    <!-- contenido de pagina, realmente no importa -->
    <div class="dash-home">
        <div class="head">
            <br>
            <span class="title-view">Tablero</span>
            <input class="input-search" type="text" placeholder="Buscar" />
        </div>
        <div class="cont-dahs1">
            <div class="card card-1" (click)="modalActive()">
                <div class="wrapper">
                    <h1 class="textCenter marginTitle">Nuevo proyecto</h1>
                    <p class="textCenter"> Asocia nuevos procesos y sensores</p>
                    <ul class="bg-bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="card card-1" *ngFor="let item of dataView.projects; let i=index">
                <br><strong>{{item.nombreProceso}}<i class="fa fa-trash-o fa-lg imgTrash"
                        (click)="deleteCard(item.nombreProceso)"></i></strong>
                <ngx-charts-bar-horizontal *ngIf="i % 2 === 0" [scheme]="colorScheme" [results]="single" [xAxis]="true"
                    [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true">
                </ngx-charts-bar-horizontal>
                <ngx-charts-pie-chart *ngIf="i % 2 !== 0" [scheme]="colorScheme" [results]="single" [legend]="true">
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>

</div>