<div class="divPadding">
    <strong class="iconSad"> ( ._.) </strong>
    <br>
    <p>La aplicacion se ha desconectado</p>
    <p>Una de las razones puede ser que estas recargando la pagina, si es asi recuerda que esta aplicacion esta
        contrudida
        con un framework que realiza la carga de componentes dinamicos y almacena algunos datos de sesion entonces te
        recomendamos no hacerlo</p>
    <div class="flex">Para volver al login presiona <strong class="textAqui">
            <P class="cursorPointer" (click)="login()">AQUI</P>
        </strong>
    </div>

</div>