<div class="divPadding">
    <strong class="iconSad"> ( ._.) </strong>
    <br>
    <p>La aplicación se ha desconectado</p>
    <p>Una de las razones puede ser que estas recargando la pagina, si es así recuerda que esta aplicación esta
        construida con un framework que realiza la carga de componentes dinámicos y almacena algunos datos de sesión
        para poderte mostrar la información de forma mas rápida, entonces te recomendamos no hacerlo.</p>
    <div class="flex">Para volver al login presiona <strong class="textAqui">
            <P class="cursorPointer" (click)="login()">AQUÍ</P>
        </strong>
    </div>

</div>