<app-menu></app-menu>

<div class="pageRight">
    <p class="title">Manuales</p>
    <div *ngFor="let item of dataView.documents; let i=index" class="divDocument">
        <p class="titleDocument">{{item.title}}</p>
        <p class="alignDescription">{{item.description}}</p>
        <p class="alignDescription cursorPointer" (click)="showPDF('PDF'+i)">---- Previsualizar ----</p>
        <pdf-viewer *ngIf="viewPDF['PDF'+i]" [src]="item.document" [show-borders]="true" [zoom-scale]="'page-fit'"></pdf-viewer>
    </div>
</div>