.title {
    text-align: center;
    font-size: xx-large;
}

.align {
    display: flex;
    justify-content: center;
}

.description {
    text-align: center;
    font-size: smaller;
    color: grey;
}