.title {
    text-align: center;
    font-size: xx-large;
}

.displayFlex {
    display: flex;
    justify-content: center;
}

.description {
    text-align: center;
    font-size: smaller;
    color: grey;
}

.separationTitle {
    text-align: center;
    font-size: x-large;
    color: dimgray;
    background: bisque;
}

.displayGrid{
    display: grid;
    justify-content: center;
}

.titleGraphics{
    text-align: center;
    font-size: x-large;
    color: dimgray;
}

