<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.css" />

<app-menu></app-menu>

<div [ngClass]="{'pageRight': typeMenu === '1', 'pageRightType2': typeMenu === '2'}">
    <p class="title">{{dataView.nombreProceso}}</p>
    <p class="description">{{dataView.descripcionProceso}}</p>

    <!-- Linea de tiempo real -->
    <ng-container *ngIf="dataView.datasets.length > 0;then graph else newDeb">
    </ng-container>
    <ng-template #graph>
        <div class="divGenral" *ngFor="let item of areaChartStackedFor; let i = index">
            <div>
                <div class="tarjeta">
                    <div>
                        <p class="separationTitle">Linea de tiempo real</p>
                    </div>
                    <div class="divTitleProcess">
                        <div class="borderLine">
                        </div>
                        <div class="displayFlex">
                            <ngx-charts-line-chart [view]="[700, 400]" [scheme]="colorScheme" [legend]="true"
                                [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true"
                                [xAxisLabel]="'Year'" [yAxisLabel]="'Population'" [timeline]="true"
                                [results]="areaChartStacked[i]" [animations]="false">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Diagrama de cajas y bigotes -->
        <div class="divGenral">
            <div>
                <div class="tarjeta">
                    <div>
                        <p class="separationTitle">Diagrama de cajas y bigotes</p>
                    </div>
                    <div class="divTitleProcess" *ngIf="getBrowserName().error === false">
                        <div class="borderLine">
                            <div *ngFor="let item of dataView.topics"
                                [ngClass]="{'optSelect verticalLineBorder': selectedChart.boxPlot === item.name}"
                                class="verticalLine">
                                <p [ngClass]="{'optSelect': selectedChart.boxPlot === item.name}"
                                    class="separationTitle" (click)="selectedChart.boxPlot = item.name"
                                    (click)="displayBoxPlotChart(item.name)">
                                    {{item.name}}</p>
                            </div>
                        </div>
                        <div class="displayFlex">
                            <div>
                                <nvd3 [options]="options" [data]="data"></nvd3>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="getBrowserName().error === true">
                        <img src="../../../assets/img/edge.png" alt="check" class="img-menos" width="40px"
                            *ngIf="getBrowserName().navigator === 'edge'">
                        <img src="../../../assets/img/google_Chrome_icon.png" alt="check" class="img-menos" width="40px"
                            *ngIf="getBrowserName().navigator === 'chrome'">
                        <img src="../../../assets/img/ie_logo.png" alt="check" class="img-menos" width="40px"
                            *ngIf="getBrowserName().navigator === 'ie'">
                        <img src="../../../assets/img/mozilla.png" alt="check" class="img-menos" width="40px"
                            *ngIf="getBrowserName().navigator === 'firefox'">
                        <img src="../../../assets/img/opera.png" alt="check" class="img-menos" width="40px"
                            *ngIf="getBrowserName().navigator === 'opera'">
                        <img src="../../../assets/img/safari-240.png" alt="check" class="img-menos" width="40px"
                            *ngIf="getBrowserName().navigator === 'safari'">
                        <p class="textAlternative">Es posible que por politicas de CORS de la pagina "calcuworld" en el
                            reuso del script para calcular los valores, no se muestre la grafica, para solucionar
                            este error le recomendamos instalar la siguiente extension para su navegador:
                        </p>
                        <a class="textAlternative" *ngIf="getBrowserName().navigator === 'chrome'"
                            href="https://chrome.google.com/webstore/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf?hl=es"
                            target="_blank">
                            https://chrome.google.com/webstore/detail/allow-cors-access-control/lhobafahddgcelffkeicbaginigeejlf?hl=es
                            <br>
                        </a>
                        <a class="textAlternative" *ngIf="getBrowserName().navigator === 'firefox'"
                            href="https://addons.mozilla.org/es/firefox/addon/access-control-allow-origin/"
                            target="_blank">
                            https://addons.mozilla.org/es/firefox/addon/access-control-allow-origin/
                            <br>
                        </a>
                        <a class="textAlternative" *ngIf="getBrowserName().navigator === 'opera'"
                            href="https://addons.opera.com/es-419/extensions/details/cors-toggle/" target="_blank">
                            https://addons.opera.com/es-419/extensions/details/cors-toggle/
                            <br>
                        </a>
                        <a class="textAlternative" *ngIf="getBrowserName().navigator === 'safari'"
                            href="https://addons.opera.com/es-419/extensions/details/cors-toggle/" target="_blank">
                            Las versiones posteriores de Safari le permiten desactivar las restricciones de origen
                            cruzado. Simplemente habilite el menú de desarrollador desde Preferencias >> Avanzado y
                            seleccione "Deshabilitar restricciones de origen cruzado" en el menú de desarrollo.
                            <br>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Promedio de los sensores -->

        <div class="divGenral">
            <div>
                <div class="tarjeta">
                    <div>
                        <p class="separationTitle">Promedio de los sensores</p>
                    </div>
                    <div class="divTitleProcess">
                        <div class="displayFlex">
                            <ngx-charts-number-card [view]="[700, 400]" [scheme]="colorScheme" [results]="grafCard"
                                [cardColor]="cardColor">
                            </ngx-charts-number-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Historico -->

        <div class="divGenral">
            <div>
                <div class="tarjeta">
                    <div>
                        <p class="separationTitle">Historico</p>
                    </div>
                    <div class="divTitleProcess">
                        <div class="borderLine">
                            <div *ngFor="let item of dataView.topics; let i=index" class="verticalLine">
                                <input type="checkbox" id="cbox1" (click)="activateHistoricalData($event, item.name)"
                                    [checked]="(i === 0) ? true : false">
                                <p class="separationTitle cursorPointer margin10">
                                    {{item.name}}</p>
                            </div>
                        </div>
                        <div class="displayFlex">
                            <ngx-charts-line-chart [view]="[700, 400]" [scheme]="colorScheme" [legend]="true"
                                [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true"
                                [xAxisLabel]="'Year'" [yAxisLabel]="'Population'" [timeline]="true"
                                [results]="swimLineChart.dataToDisplay">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Frecuencia de los ultimos 10 datos -->

        <div class="divGenral">
            <div>
                <div class="tarjeta">
                    <div>
                        <p class="separationTitle">Histograma de 10 datos</p>
                    </div>
                    <div class="divTitleProcess">
                        <div class="borderLine">
                            <div *ngFor="let item of dataView.topics"
                                [ngClass]="{'optSelect verticalLineBorder': selectedChart.frequency === item.name}"
                                class="verticalLine">
                                <p class="separationTitle cursorPointer" (click)="selectedChart.frequency = item.name">
                                    {{item.name}}</p>
                            </div>
                        </div>
                        <div class="displayFlex" *ngFor="let item of dataView.topics; let i = index">
                            <div *ngIf="selectedChart.frequency === item.name">
                                <ngx-charts-bar-vertical [view]="[500, 400]" [scheme]="colorScheme"
                                    [results]="single[i]" [gradient]="false" [xAxis]="true" [yAxis]="true"
                                    [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                                    [xAxisLabel]="item.units" [yAxisLabel]="'Frecuencia'">
                                </ngx-charts-bar-vertical>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin30"></div>
        <div class="write" (click)="process()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </div>
    </ng-template>
    <ng-template #newDeb>
        <div class="divGenral">
            <div>
                <div class="tarjeta">
                    <div>
                        <p class="separationTitle">Actualmente no cuenta con datos para este proceso</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>