<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.4/nv.d3.min.css" />

<app-menu></app-menu>

<div class="pageRight">
    <p class="title">{{dataView.nombreProceso}}</p>
    <p class="description">{{dataView.descripcionProceso}}</p>
    <div>
        <nvd3 [options]="options" [data]="data"></nvd3>
    </div>
    <p class="separationTitle">Linea de tiempo real</p>
    <div class="displayFlex" *ngFor="let item of areaChartStackedFor; let i = index">
        <ngx-charts-area-chart-stacked [view]="view" [scheme]="colorScheme" [legend]="true" [showXAxisLabel]="true"
            [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'Year'" [yAxisLabel]="'Population'"
            [timeline]="true" [results]="areaChartStacked[i]" [animations]="false">
        </ngx-charts-area-chart-stacked>
    </div>
    <p class="separationTitle">Promedio de los sensores</p>
    <div class="displayFlex">
        <ngx-charts-number-card [view]="view" [scheme]="colorScheme" [results]="grafCard" [cardColor]="cardColor">
        </ngx-charts-number-card>
    </div>
    <p class="separationTitle">Historico</p>
    <div class="displayFlex">
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="true" [showXAxisLabel]="true"
            [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'Year'" [yAxisLabel]="'Population'"
            [timeline]="true" [results]="swimLineChart">
        </ngx-charts-line-chart>
    </div>
    <p class="separationTitle">Frecuencia de los ultimos 10 datos</p>
    <div class="displayGrid" *ngFor="let item of dataView.topics; let i = index">
        <p class="titleGraphics">{{item.name}}</p><br>
        <div>
            <ngx-charts-bar-vertical [view]="[700, 400]" [scheme]="colorScheme" [results]="single[i]" [gradient]="false"
                [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                [xAxisLabel]="item.units" [yAxisLabel]="'Frecuencia'">
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>