.title {
    text-align: center;
    font-size: xx-large;
}

.displayFlex {
    display: flex;
    justify-content: center;
}

.description {
    text-align: center;
    font-size: smaller;
    color: grey;
}

.separationTitle {
    color: #848484;
    text-align: center;
    line-height: 50px;
    font-family: "Tahoma";
    font-size: large;
}

.separationTitle:hover {
    cursor: pointer;
    color: #4a4a4a;
}

.optSelect {
    color: #e02d2c !important;
}

.displayGrid {
    display: grid;
    justify-content: center;
}

.titleGraphics {
    text-align: center;
    font-size: x-large;
    color: dimgray;
    margin: 20px 0px -5px;
}

.divGenral {
    font-size: 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: inherit;
    vertical-align: baseline;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.tarjeta {
    display: block;
    font-size: 0;
    text-align: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    outline: 0;
    font-style: inherit;
    vertical-align: baseline;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    border-radius: 10px;
    margin: 20px auto 0;
    position: relative;
    transition-duration: .2s;
    z-index: 2;
    margin-top: 20px;
    width: 93%;
    max-width: 92%;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
}

.divTitleProcess {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalLine {
    padding: 0px 20px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.verticalLineBorder {
    border-right: thick solid #D64541;
}

.borderLine {
    border-right: 1px solid #eee;
}

.margin30 {
    margin: 30px;
}