<!-- tomado de: https://codepen.io/azouaoui-med/pen/wpBadb -->
<!-- iconos que se pueden colocar: https://fontawesome.com/v4.7.0/icons/ -->

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////// Menu 1 ////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////// -->

    <nav id="sidebar" class="sidebar-wrapper navBar" *ngIf="typeMenu === '1'">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a (click)="navigate('dashboard')" class="cursorPointer">SISMO APP</a>
                <div id="close-sidebar">
                    <i class="fa fa-microchip" aria-hidden="true"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded alignMeddle" [src]="dataMenu.profilePicture"
                        onError="this.src='../../../../assets/img/userNull.jpg'" alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">{{dataMenu.secondName}}
                        <strong>{{dataMenu.firstLastName}}</strong>
                    </span>
                    <span class="user-role">Estudiante</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>En linea</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input class="search-menu search borderInput" placeholder="Search..." type="search" [(ngModel)]="search">
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu" *ngIf="search === ''">
                        <span>General</span>
                    </li>
                    <li *ngIf="filter('Dashboard')">
                        <a (click)="navigate('dashboard')" class="cursorPointer">
                            <i class="fa fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li *ngIf="filter('Conexiones')">
                        <a (click)="navigate('connections')" class="cursorPointer">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span>Conexiones</span>
                        </a>
                    </li>
                    <li *ngIf="filter('Descargables')">
                        <a (click)="navigate('downloads')" class="cursorPointer">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <span>Descargables</span>
                        </a>
                    </li>
                    <li class="header-menu" *ngIf="search === ''">
                        <span>Extra</span>
                    </li>
                    <!-- <li>
                        <a (click)="navigate('pilot')" class="cursorPointer">
                            <i class="fa fa-folder"></i>
                            <span>Ejemplo</span>
                        </a>
                    </li> -->
                    <li *ngIf="filter('Documentación')">
                        <a (click)="navigate('guides')" class="cursorPointer">
                            <i class="fa fa-book"></i>
                            <span>Documentación</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a (click)="location('2')" class="cursorPointer" title="Disponible unicamente para los procesos">
                <i class="fa fa-caret-square-o-left" aria-hidden="true"></i>
            </a>
            <a (click)="navigate('profile')" class="cursorPointer">
                <i class="fa fa-cog"></i>
            </a>
            <a (click)="logout()" class="cursorPointer">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>

    <!-- //////////////////////////////////////////////////////////////////////// -->
    <!-- ////////////////////////////// Menu 2 ////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////// -->

    <nav id="sidebar" class="sidebar-wrapper widthType6_5 navBar" *ngIf="typeMenu === '2'">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a (click)="navigate('dashboard')" class="cursorPointer">SISMO</a>
            </div>
            <div class="textCenter">
                <div class="user-pic">
                    <img class="img-responsive img-rounded alignMeddle" width="50%" [src]="dataMenu.profilePicture"
                        onError="this.src='../../../../assets/img/userNull.jpg'" alt="User picture">
                </div>
            </div>
            <div class="sidebar-menu widthType25 textCenter">
                <ul>
                    <li class="header-menu">
                    </li>
                    <li>
                        <a (click)="navigate('dashboard')" class="cursorPointer">
                            <i class="fa fa-columns"></i>
                        </a>
                    </li>
                    <li>
                        <a (click)="navigate('connections')" class="cursorPointer">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a (click)="navigate('downloads')" class="cursorPointer">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="header-menu">
                    </li>
                    <li>
                        <a (click)="navigate('pilot')" class="cursorPointer">
                            <i class="fa fa-folder"></i>
                        </a>
                    </li>
                    <li>
                        <a (click)="navigate('guides')" class="cursorPointer">
                            <i class="fa fa-book"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a (click)="location('1')" class="cursorPointer">
                <i class="fa fa-caret-square-o-left" aria-hidden="true"></i>
            </a>
        </div>
    </nav>
</div>