<!-- POPUP-CANCELACIÓN -->

<!-- Modales -->
<ng-container [ngSwitch]="data.type">
    <section class="contModal contModal--isShow" id="modalDefault" *ngSwitchCase="'activeAlert'">
        <div class="modal modal--min" *ngIf="!data.payload.opt">
            <div class="modal__body">
                <p>¿Seguro desea desactivar las alertas?</p>
            </div>
            <div class="contButtons contButtons--minMgrTop contButtons contButtons--minMgrTop--sameWidth">
                <button *ngIf="data.labelBtnIzquierda !== undefined" type="button" class="button button--secondary"
                    (click)="actionBtnIzquierda()">{{data.labelBtnIzquierda}}</button>
                <button type="button" class="button button--primary"
                    (click)="actionBtnDerecha('turnOffAlerts')">{{data.labelBtnDerecha}}</button>
            </div>
        </div>
        <div class="modal modal--min" *ngIf="data.payload.opt">
            <form action="#" [formGroup]="registerFormAlert">

                <div class="modal__body">
                    <p>{{data.message}}</p>
                </div>
                <div class="input-field">
                    <i class=""></i>
                    <input type="text" placeholder="Valor maximo" formControlName="maxValue" value=""
                        (change)="onChange($event, 'valueAlert')">
                </div>
                <div class="input-field">
                    <i class=""></i>
                    <input type="text" placeholder="Unidades" formControlName="units" value=""
                        (change)="onChange($event, 'units')">
                </div>
                <div class="contButtons contButtons--minMgrTop contButtons--minMgrTop--sameWidth">
                    <button *ngIf="data.labelBtnIzquierda !== undefined" type="button" class="button button--secondary"
                        (click)="actionBtnIzquierda()">{{data.labelBtnIzquierda}}</button>
                    <button type="button" class="button button--primary" (click)="actionBtnDerecha('activeAlert')"
                        [disabled]='!registerFormAlert.valid'>{{data.labelBtnDerecha}}</button>
                </div>
            </form>
        </div>
    </section>
    <section class="contModal contModal--isShow" id="modalDefault" *ngSwitchCase="'editTopic'">
        <div class="modal modal--min">
            <div class="modal__body">
                <p>{{data.message}}</p>
            </div>
            <div class="input-field">
                <i class=""></i>
                <input type="text" placeholder="Nuevo nombre" value="{{data.payload.topic}}"
                    (keyup)="onChange($event, 'topic')">
            </div>
            <div class="contButtons contButtons--minMgrTop contButtons--minMgrTop--sameWidth">
                <button *ngIf="data.labelBtnIzquierda !== undefined" type="button" class="button button--secondary"
                    (click)="actionBtnIzquierda()">{{data.labelBtnIzquierda}}</button>
                <button type="button" class="button button--primary" (click)="actionBtnDerecha('editTopic')"
                    [disabled]='payload.topic === undefined || payload.topic === ""'>{{data.labelBtnDerecha}}</button>
            </div>
        </div>
    </section>
    <section class="contModal contModal--isShow" id="modalDefault" *ngSwitchCase="'editDataBase'">
        <div class="modal modal--min">
            <div class="modal__body">
                <p>{{data.message}}</p>
            </div>
            <div class="input-field">
                <i class=""></i>
                <input type="password" placeholder="Nueva clave" (keyup)="onChange($event, 'valueChange')">
            </div>
            <div class="input-field" *ngIf="this.data.payload.editPassword">
                <i class=""></i>
                <input type="password" placeholder="Confirme la clave" (keyup)="onChange($event, 'valueChangeConfirm')">
            </div>
            <div class="contButtons contButtons--minMgrTop contButtons--minMgrTop--sameWidth">
                <button *ngIf="data.labelBtnIzquierda !== undefined" type="button" class="button button--secondary"
                    (click)="actionBtnIzquierda()">{{data.labelBtnIzquierda}}</button>
                <button type="button" class="button button--primary" (click)="actionBtnDerecha('editDataBase')"
                    [disabled]='payload.valueChange === undefined ||payload.valueChange === "" || payload.valueChange !== payload.valueChangeConfirm'>{{data.labelBtnDerecha}}</button>
            </div>
        </div>
    </section>
    <section class="contModal contModal--isShow" id="modalDefault" *ngSwitchCase="'error'">
        <div class="modal modal--min">
            <div class="modal__body">
                <p>{{data.message}}</p>
            </div>
            <div class="contButtons contButtons--minMgrTop contButtons contButtons--minMgrTop--sameWidth">
                <button *ngIf="data.labelBtnIzquierda !== undefined" type="button" class="button button--secondary"
                    (click)="actionBtnIzquierda()">{{data.labelBtnIzquierda}}</button>
                <button type="button" class="button button--primary"
                    (click)="actionBtnDerecha('modal')">{{data.labelBtnDerecha}}</button>
            </div>
        </div>
    </section>
    <section class="contModal contModal--isShow" id="modalDefault" *ngSwitchCase="'newProject'">
        <div class="modal modal--min">
            <form action="#" [formGroup]="registerForm" class="formArray">
                <h2 class="modalTextForm">{{data.message}}</h2>
                <hr>
                <div class="input-field">
                    <i class=""></i>
                    <input type="text" placeholder="Nombre del proceso" formControlName="nombreProceso"
                        (change)="onChange($event, 'nombreProceso')" />
                </div>
                <div class="input-field">
                    <i class=""></i>
                    <input type="text" placeholder="Descripcion del proceso" formControlName="descripcionProceso"
                        (change)="onChange($event, 'descripcionProceso')" />
                </div>
                <div class="input-field">
                    <i class=""></i>
                    <input type="text" placeholder="URI OPC-UA" formControlName="endpointOPC"
                        (change)="onChange($event, 'endpointOPC')" />
                </div>
                <div formArrayName="topics">
                    <div class="sepDiv" *ngFor="let item of getTopics.controls; let indexTopic=index"
                        [formGroupName]="indexTopic">
                        <div class="input-field max-width-topic">
                            <i class=""></i>
                            <input type="text" placeholder="Topic" formControlName="topic"
                                (keyup)="onChange($event, 'topic' + indexTopic )" />
                        </div>
                        <img src="../../../assets/img/icon-menos.svg" alt="check" class="img-menos"
                            (click)="removeTopic(indexTopic, 'removeAt')">
                    </div>
                </div>
                <div class="centerBtnAdd" (click)="addTopic()">
                    <img src="../../../assets/img/icon-mas.svg" alt="check" class="img-mas">
                </div>
            </form>
            <div class="contButtons contButtons--minMgrTop contButtons contButtons--minMgrTop--sameWidth">
                <button *ngIf="data.labelBtnIzquierda !== undefined" type="button" class="button button--secondary"
                    (click)="actionBtnIzquierda()">{{data.labelBtnIzquierda}}</button>
                <button type="button" class="button button--primary" (click)="actionBtnDerecha('newProject')"
                    [disabled]='!registerForm.valid || validArray()'>{{data.labelBtnDerecha}}</button>
            </div>
        </div>
    </section>
</ng-container>
<!-- Fin Modales -->