<div class="container" [ngClass]="{'sign-up-mode': flagCss}">
  <div class="forms-container">
    <div class="signin-signup">
      <form (submit)="callOnSignIn()" action="#" class="sign-in-form" [formGroup]="loginForm">
        <h2 class="title">Inicia sesión</h2>
        <div class="input-field">
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Usuario" formControlName="user"
            (ngModelChange)="onChange($event, 'user', 'login')" />
        </div>
        <div class="input-field">
          <i class="fa fa-key"></i>
          <input type="password" placeholder="Contraseña" formControlName="password"
            (ngModelChange)="onChange($event, 'password', 'login')" />
        </div>
        <button type="submit" class="button button--primary" [disabled]='!loginForm.valid'>Iniciar sesión</button>
        <p (click)="callRegisterUser()" class="marginRecp" data-onsuccess="onSignIn">¿Olvidaste tu contraseña?</p>
        <p (click)="callRegisterUser()" data-onsuccess="onSignIn">Recuperala iniciando sesion con google</p>
        <div class="social-media">
          <div (click)="callRegisterUser()" (click)="recoverPassword = true" class="g-signin2" data-onsuccess="onSignIn"></div>
        </div>
      </form>
      <form action="#" class="sign-up-form" [formGroup]="registerForm">
        <h2 class="title">Regístrate</h2>
        <div class="input-field">
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Usuario" formControlName="user"
            (ngModelChange)="onChange($event, 'user', 'register')" />
        </div>
        <ng-container *ngIf="this.registerForm.get('user')?.errors !== null && 
          (this.payloadRegister.user !== undefined && this.payloadRegister.user !== '')">
          <ul>
            <li>El usuario debe tener minimo 4 caracteres</li>
            <li>Solo se permiten caracteres afanumericos</li>
          </ul>
        </ng-container>
        <div class="input-field">
          <i class="fa fa-key"></i>
          <input type="password" placeholder="Contraseña" formControlName="password"
            (ngModelChange)="onChange($event, 'password', 'register')" />
        </div>
        <ng-container *ngIf="registerForm.get('password')?.errors !== null && 
        (this.payloadRegister.password !== undefined && this.payloadRegister.password !== '')">
          <ul>
            <li>
              La contraseña debe tener minimo 5 caracteres</li>
          </ul>
        </ng-container>
        <div class="input-field">
          <i class="fa fa-key"></i>
          <input type="password" placeholder="Confrimar Contraseña" formControlName="confirmPassword"
            (ngModelChange)="onChange($event, 'confirmPassword', 'register')" />
        </div>
        <ng-container *ngIf="registerForm.get('password')?.value !== registerForm.get('confirmPassword')?.value 
        && payloadRegister.confirmPassword !== undefined && payloadRegister.confirmPassword !== ''">
          <ul>
            <li>
              Las contraseñas no coinciden</li>
          </ul>
        </ng-container>
        <div class="social-media customBtnGoogle">
          <div (click)="callRegisterUser()" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
          <div *ngIf="!registerForm.valid || payloadRegister.password !== payloadRegister.confirmPassword"
            class="social-media customBtnGoogle btnFalso"><img src="../../../assets/img/google.svg"
              class="margenImgGoogle">Registrate</div>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Eres nuevo en SISMO ?</h3>
        <p>
          Para poder monitorizar tus procesos y sensores deberas registrarte en SISMO con tu correo
          institucional.
        </p>
        <button (click)="flagCss = !flagCss" class="btn transparent" id="sign-up-btn">
          Regístrate
        </button>
      </div>
      <div class="imageUd">
        <img src="../../../assets/img/logoUD.png" class="image" alt="" />
      </div>
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Ya tienes una cuenta en SISMO ?</h3>
        <p>
          Desde SISMO podrás monitorizar todos tus procesos y sensores que tengas vinculados en el app.
        </p>
        <button (click)="flagCss = !flagCss" class="btn transparent" id="sign-in-btn">
          Accede
        </button>
      </div>
      <img src="../../../assets/img/logoUD.png" class="image" alt="" />
    </div>
  </div>